<html>
  <head>
  </head>

<body>





  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">

            <h5 class="card-title text-center">Create a new user</h5>

              <div class="form-signin">


                  <%= form_tag url_for(action: 'create'), method: "post" do %>

                    <%= label_tag 'Your first name' %>
                    <%= text_field_tag 'first_name' %>
                    <br /> <br />

                    <%= label_tag 'Your last name' %>
                    <%= text_field_tag 'last_name' %>
                    <br /> <br />

                    <%= label_tag 'Your email' %>
                    <%= text_field_tag 'email' %>
                    <br /> <br />

                    <%= label_tag 'Your password' %>
                    <%= text_field_tag 'password' %>
                    <br /> <br />

                    <%= submit_tag "Create User" %>

                  <% end %>


                </div>
              
            </div>
        </div>
      </div>
    </div>
  </div>





</body>

</html>




<style>

:root {
  --input-padding-x: .75rem;
  --input-padding-y: .75rem;
}

body {
  background: #007bff;
  background: linear-gradient(to right, #0062E6, #33AEFF);
}

.card-signin {
  border: 0;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.card-signin .card-title {
  margin-bottom: 2rem;
  font-weight: 300;
  font-size: 1.5rem;
}

.card-signin .card-body {
  padding: 2rem;
}

.form-signin, .btn-google {

  display : grid;
  justify-content: center;
}

.form-signin {
  width: 100%;
}

.form-signin .btn {
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem;
  transition: all 0.2s;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
  text-align: center;
}

.form-label-group input {
  height: auto;
  border-radius: 2rem;
}



input[type="text"], input[type="password"] {
    padding: var(--input-padding-y) var(--input-padding-x);
}


.form-label-group>label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0;
  /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-moz-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
}

.form-label-group input:not(:placeholder-shown)~label {
  font-size: 12px;
  color: #777;
}

 .btn-google >input {
  font-size: 100%;
  border-radius: 5rem;
  letter-spacing: .1rem;
  width: 150px;
  height: 50px;
  color: white;
  background-color: #777
}



</style>