<h3>Post a Comment</h3>

<%= form_for [ @gossip, @comment ] do |f| %>
  <p>
    <%= f.label :user_id, "Your Name" %><br/>
    <%= f.text_field :user_id %>
  </p>
  <p>
    <%= f.label :content, "Your Comment" %><br/>
    <%= f.text_area :content %>
  </p>
  <p>
    <%= f.submit 'Submit' %>
  </p>
<% end %>