<html>
  <head>
  </head>

<body>

	<center>

    <%= form_tag url_for(action: 'update'), method: "patch" do %>

      <%= label_tag 'Auteur ID' %>
      <%= text_field_tag 'user_id', 8 %>
      <br /> <br />

      <%= label_tag 'Title' %>
      <%= text_field_tag 'title', @gossip.title %>
      <br /> <br />

      <%= label_tag 'Content' %>
      <%= text_area_tag 'content', @gossip.content %>
      <br /> <br />

      <%= submit_tag "Update Gossip" %>

    <% end %>


	</center>




</body>

</html>
