<html>
  <head>
    <title>Home - The Gossip Project</title>


  <body> 
  	
    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/3-col-portfolio.css" rel="stylesheet">


  </head>


  <body>

    <% if flash[:danger] %>
    <div> Please log in <div>
    <% end %>

    <% if flash[:successful_login] %>
    <div> successful_login <div>
    <% end %>

    <!-- Page Content -->
    <div class="container">


      <!-- Page Heading -->
      <% if current_user %>

      <h1 class="my-4">  Welcome,  <%= current_user.first_name %> !</h1>

      <% else %>

      <h1 class="my-4">  Welcome. If you want to submit new gossips, please log in!</h1>

      <% end %>


      <a class="btn btn-primary" <%= link_to "Submit a new Gossip", new_gossip_path %> </a>


        <h1> <small> Voici tous les potins :</small> </h1>
    

        <% @gossips.each do |gossip| %>
   	
		      <div class="card" style = "margin-bottom:25px" >
		  <div class="card-header" >
        <%= gossip.user.first_name %> <%= gossip.user.last_name %>
		  </div>
		  <div class="card-body">
		    <h5 class="card-title"><%= gossip.title %></h5>
		    <p class="card-text"><%= gossip.content %></p>
		    <a class="btn btn-primary" <%= link_to "Go to gossip page", gossip_path(gossip) %> </a>
		  </div>
		</div>

      

      <%end%>


    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; The Gossip Project 2018</p>
      </div>
      <!-- /.container -->
    </footer>

  </body>

</html>






</body>
</html>