<html>
  <head>
    <title>Contact</title>
  <body> 
  	<p> Welcome sur la page du gossip N° <%=params[:id]%> !</p> 
  	<p>Voici les infos sur ce potin :</p>

  	<table class="table">
  <thead>
    <tr>
      <th scope="row">#</th>
      <th scope="row">Author</th>
      <th scope="row">Title</th>
      <th scope="row">Content</th>
      <th scope="row">Creation date</th>
    </tr>
  </thead>

  <tbody>

    <tr>
      <th scope="col"> # </th>
      <td> 
      	<p> <%= @gossip.user.first_name %> <%= @gossip.user.last_name %> </p> 
        <p> From: <%= @gossip.user.city.name %> </p> 
      	
      </td>
      <td> <%= @gossip.title %> </td>
      <td> <%= @gossip.content %> </td>
      <td> <%= @gossip.created_at %> </td>
    </tr>

  </tbody>

</table>

  <p> <%= link_to "Read more about the author", user_path(@gossip.user.id) %> </p> 
  <p> <%= link_to "Read more about the city", city_path(@gossip.user.city) %> </p> 

  <% if current_user %>      

    <p> <%= link_to "Edit this gossip", edit_gossip_path %> </p> 
    <p> <%= link_to 'Delete this gossip', gossip_path(@gossip), method: :delete, data: { confirm: 'Are you sure?' } %></p> 

  <% else %>

  <% end %>





  <h3>Comments (<%= @gossip.comments.size %>)</h3>

  <%= render partial: 'gossips/comment', collection: @gossip.comments.reverse %>

  <%= render partial: 'gossips/form' %>

</body>

</html>