<html>
  <head>
    <title>Contact</title>
  <body> 
  	<p> Welcome sur la page de la ville <%= @city.name%> !</p> 
  	<p>Voici les potins qui ont été écrits dans cette ville :</p>


<% @users.each do |user| %>    

    <% @gossips_subarray = @gossips.where("user_id = ?", user.id) %>

      <%= label_tag 'Content' %>
      <%= text_area_tag 'content', @comment.content %>
      <br />

    <% @gossips_subarray.each do |gossip| %>
        
              <div class="card" style = "margin-bottom:25px" >
          <div class="card-header" >
            <%= gossip.user.first_name %> <%= gossip.user.last_name %>
          </div>
          <div class="card-body">
            <h5 class="card-title"><%= gossip.title %></h5>
            <p class="card-text"><%= gossip.content %></p>
            <a class="btn btn-primary" <%= link_to "Go to gossip page", gossip_path(gossip) %> </a>
          </div>
        </div>

          <%end%>

  <%end%>

</body>
</html>